div {
	margin: 10px;
}

span.error {
	color: white;
	background-color: red;
}

span.failed {
	color: red;
}

span.passed {
	color: green;
}

span.title {
	font-weight: bold;
	font-family: sans-serif;
	width: 100%;
}

span.subtitle {
	font-weight: bold;
	font-family: serif;
	font-style: italic;
	font-size: small;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 5px;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

td {
	overflow-y: auto;
	max-height: 300px;
}

table.header {
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.header th, table.header td {
	width: auto;
	max-width: 100%;
	border: none;
	font-size: large;
}

table.header th {
	font-family: monospace;
	font-weight: bold;
	text-align: right;
	padding: 2pt;
}
